@tailwind components;
@layer components {
  .content {
  }
  .select-input {
    @apply block lg:flex cursor-pointer relative z-10;
  }

  .select-label {
    @apply hidden;
  }

  .select {
    @apply font-normal rounded-md cursor-pointer overflow-hidden text-primary-main bg-white border-primary-main border-spacing-1 focus:text-primary-main focus:outline-none disabled:border-secondary-main disabled:border-spacing-1 disabled:text-secondary-dark disabled:bg-transparent md:p-2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px),
      100% 0;
    background-repeat: no-repeat;
    background: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png')
      white no-repeat calc(100% - 10px) !important;

    &::-ms-expand {
      display: none;
    }
  }

  .select-option {
    @apply w-full text-primary-main;
  }

  .input-label {
    @apply leading-3 font-semibold text-primary-main mr-3 hidden md:block;
  }

  .line {
    width: 1px;
    height: 85%;
    background: #e0e0e0;
    position: absolute;
    right: 35px;
    margin: 3px 0;
  }
}
