@tailwind components;
@layer components {
  .resize-buttons {
    @apply rounded-md bg-white;
  }

  .resize-buttons button {
    @apply h-8 w-8 p-1 flex items-center justify-center;
  }

  .rounded-top {
    border-top-left-radius: 0.3rem !important;
    border-top-right-radius: 0.3rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .rounded-bottom {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.3rem !important;
    border-bottom-right-radius: 0.3rem !important;
  }

  .resize-buttons button svg {
    @apply h-4 w-4;
  }

  .divider {
    @apply w-6 m-0 p-0;
    height: 0.5px;
  }
}
