@tailwind components;
@layer components {
  .current-option {
  }

  .current-option__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-option button {
    text-transform: capitalize;
    right: 0;
    position: relative;
    height: auto;
    transform: 0;
    background-color: transparent;
    display: flex;
    width: 100% !important;
    align-items: center !important;
    justify-content: flex-start !important;
    border-radius: 1rem !important;
  }

  .current-option button:hover {
    background-color: #e0e0e0;
  }
}
