@tailwind components;
@layer components {
  .current-option {
    @apply pt-24;
    width: 100% !important;
    height: 100vh;
  }

  .current-option h4 {
    @apply my-5;
    color: #707070 !important;
  }

  .current-option__list {
    @apply flex items-center justify-start;
    gap: calc(20px);
  }

  .current-option button {
    @apply h-auto relative right-0 flex;
    text-transform: capitalize;
    background-color: transparent !important;
    padding: 0 !important;
    transform: translateX(0);
    width: 100% !important;
    align-items: center !important;
    justify-content: flex-start !important;
    border-radius: 1rem !important;
  }

  .current-option button svg {
    height: 10px !important;
  }

  .current-option button:hover {
    @apply bg-secondary-light;
  }
}
