@tailwind components;
@layer components {
  .current-option {
    width: 100% !important;
    height: 100vh;
    padding-top: 100px;
  }

  .current-option h4 {
    color: #707070 !important;
    margin: 15px 0;
  }

  .current-option__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: calc(20px);
  }

  .current-option button {
    text-transform: capitalize;
    right: 0;
    position: relative;
    height: auto;
    transform: 0;
    background-color: transparent !important;
    padding: 0 !important;
    transform: translateX(0);
    display: flex;
    width: 100% !important;
    align-items: center !important;
    justify-content: flex-start !important;
    border-radius: 1rem !important;
  }

  .current-option button svg {
    height: 10px !important;
  }

  .current-option button:hover {
    background-color: #e0e0e0;
  }
}
