@tailwind components;
@layer components {
  .direction-buttons {
    @apply rounded-md bg-white overflow-hidden w-16 h-16 ml-6;
  }

  .direction-buttons__content {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
  }

  .direction-buttons button {
    @apply rounded-md p-0 flex items-center justify-center m-0.5 absolute z-0;
  }

  .direction-buttons button:hover {
    @apply absolute;
    z-index: 2;
  }

  .direction-buttons button svg {
    @apply h-4 w-4 m-1;
  }

  .direction-top {
    @apply top-0 absolute;
    width: 60px;
  }
  .direction-right {
    @apply right-0 absolute;
    height: 60px;
  }
  .direction-bottom {
    @apply bottom-0 absolute;
    width: 60px;
  }
  .direction-left {
    @apply left-0 absolute;
    height: 60px;
  }
}
