@tailwind components;
@layer components {
  .sidebar-menu-item {
    @apply w-full pt-20;
    height: 100vh;
  }
  .option-list {
    height: 100vh;
  }

  .option-item {
    @apply relative;
    margin-bottom: 1rem !important;
  }

  .option-item button {
    @apply right-0 relative h-auto bg-white flex items-center justify-between;
    width: 100% !important;
    padding: 0.6rem 1rem !important;
    border-radius: 0.6rem !important;
    transform: translateX(0) !important;
  }

  .option-item button:hover {
    @apply bg-secondary-dark;
  }
}
