@tailwind components;
@layer components {
  .sidebar-menu-item {
    height: 100vh;
    width: 100%;
    padding-top: 80px;
  }
  .option-list {
  }

  .option-item {
    position: relative;
    margin-bottom: 1rem !important;
  }

  .option-item button {
    right: 0;
    position: relative;
    height: auto;
    transform: 0;
    background: #ffffff;
    display: flex;
    width: 100% !important;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1rem !important;
    border-radius: 0.6rem !important;
    transform: translateX(0) !important;
  }

  .option-item button:hover {
    background: #e0e0e0;
  }
}
