@tailwind components;
@layer components {
  .main-container {
    @apply p-0 m-auto w-full;
    padding: 0 27px;
  }

  .main-container.sm {
    max-width: 1110px;
  }

  .main-container.md {
    max-width: 1200px !important;
  }

  .main-container.lg {
    max-width: 1800px;
  }

  @media screen(md) {
    .main-container.sm {
      max-width: 1156px;
    }

    .main-container.md {
      max-width: 1330px;
    }
  }
  @media screen(lg) {
    .main-container.lg {
      max-width: 1156px;
    }
  }
}
