@tailwind components;
@layer components {
  .sidebar-menu {
    @apply absolute bg-secondary-light top-0;
    height: 100vh;
    width: 50%;
    z-index: 1;
    padding-left: 15vh;
    transition: 0.2s ease-in-out;
  }

  .sidebar-menu.opened {
    @apply left-0;
    transition: 0.2s ease-in-out;
  }

  .sidebar-menu.closed {
    left: -100%;
    transition: 0.2s ease-in-out;
  }

  .sidebar-menu__content {
    @apply flex items-center justify-start relative p-6 bg-secondary-light;
    width: 100% !important;
    height: 100vh;
  }

  .sidebar-menu__content button {
    @apply absolute right-0 flex w-5 bg-transparent items-center justify-center h-20;
    padding: 0 !important;
    transform: translateX(21px);
    border-radius: none !important;
  }
  .sidebar-menu__content button:hover {
    @apply bg-transparent;
  }

  .skew-effect {
    @apply bg-secondary-light absolute rounded-md w-6;
  }

  .skew-top {
    @apply top-0 h-12;
    transform: skewY(35deg) translateY(2px);
  }

  .skew-bottom {
    @apply bottom-0 h-12;
    transform: skewY(-35deg) translateY(-2px);
  }

  .sidebar-menu__content button svg {
    @apply h-3 relative;
    z-index: 9;
  }
}
