@tailwind components;
@layer components {
  .current-option__item {
    @apply m-0 overflow-hidden flex items-center justify-center flex-col;
    width: 33.3% !important;
    max-width: 33.3% !important;
    max-height: 230px;
  }

  .current-option__item img {
    @apply w-full h-full object-cover;
    min-height: 180px;
  }

  .current-option__item p {
    @apply text-primary-main text-base mt-2;
  }
}
